/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/temp
/tests
.env
.env.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/davood-jafari.iml
.idea/php.xml
